body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}
.indigo_500_bc_red_800_87_border {
  border-image: linear-gradient(94deg, #3e36c9bc, #b1423f87) 1;
}
